.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  width: 50vw;
  margin: 10px;
  height: 1rem;
  font-size: 1.2em;
  width: 300px;
  border: 3px solid #d2ddec;
  padding: 25px;
  outline: 0;
}
.message {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn-mshield {
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #01506f;
}

.disabled {
  background-color: #01506fb8;
}

.btn-sm {
  width: 50px;
  height: 30px;
}
